.plan-selector-container {
  padding: 30px 150px;
  border: 1px solid #eaeaea;
  background-color: white;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  .plan-selector {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}
